.page-load-status {
  display: inline; /* hidden by default */
  padding-top: 20px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #777;
}
a,
body {
  color: #000;
}
.collumn,
.dark-mode .collumn {
  vertical-align: top;
  transition: 0.7s;
}
.collumn .citation,
.dark-mode .collumn .citation {
  text-align: center;
  font-feature-settings: "liga", "dlig";
}
.capfirstletter::first-letter {
  initial-letter: unset; /* Default style */
}

@media (min-width: 768px) {
  /* Styles for desktop devices */
  .capfirstletter::first-letter {
    initial-letter: 2;
  }
}

@media (max-width: 767px) {
  /* Styles for mobile devices */
  .capfirstletter::first-letter {
    initial-letter: unset;
  }
}
.dark-mode a:visited,
a:visited {
  text-decoration: none;
}
.toggle {
  font-size: 0.8rem;
  border: 0.125em solid currentColor;
  border-radius: 2em;
  cursor: pointer;
  display: block;
  height: 2em;
  position: relative;
  width: 3.75em;
  left: 97%;
}
.collumn,
.content,
.weatherforcastbox,
header {
  display: inline-block;
}
.sr-only,
.toggle span,
canvas {
  position: absolute;
}
.toggle span {
  background-color: currentColor;
  border-radius: 2em;
  display: block;
  height: 1.5em;
  left: 0.25em;
  overflow: hidden;
  top: 0.25em;
  text-indent: -9999px;
  transition: left 0.25s;
  width: 1.5em;
  z-index: 2;
}
.toggle::after,
.toggle::before {
  content: "";
  display: block;
  border-radius: 1em;
  position: absolute;
  z-index: 1;
}
.toggle::after {
  box-shadow: 0.25em 0.25em #5901d8;
  height: 1.125em;
  right: 0.9em;
  top: 0.125em;
  width: 1.125em;
}
.toggle::before {
  background-color: #ffc409;
  height: 0.625em;
  outline: #ffc409 dotted 0.25em;
  outline-offset: 0.125em;
  left: 0.7em;
  top: 0.7em;
  width: 0.625em;
}
input:checked ~ .toggle span {
  left: 2em;
}
.sr-only {
  left: -9999px;
  opacity: 0;
}
body {
  background-color: #fff;
  font-family: "Droid Serif", serif;
  font-size: 14px;
  z-index: 9999;
}
.dark-mode header,
header {
  font-weight: 900;
  font-size: 80px;
  line-height: 72px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
}
canvas {
  z-index: -1;
}
.collumn,
.collumn .headline,
.collumn + .collumn,
.collumns,
.content,
.head,
.subhead,
header,
p {
  z-index: 9999;
}
p {
  margin-top: 0;
  margin-bottom: 20px;
}
.head {
  text-align: center;
  position: relative;
}
.subhead {
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  padding: 12px 0;
}
.weatherforcastbox {
  position: relative;
  width: 25%;
  left: 10px;
  border: 3px double #000;
  padding: 10px 15px;
  line-height: 20px;
  margin: -18px 50px 20px -475px;
  z-index: 9999;
}
.content {
  font-size: 0;
  line-height: 0;
  word-spacing: -0.31em;
  margin: 30px 0.5% 0 2%;
}
.collumn {
  font-size: 14px;
  line-height: 20px;
  width: 17.5%;
  padding: 0 1%;
  margin-bottom: 50px;
}
.collumn + .collumn {
  border-left: 1px solid #000;
}
.collumn .headline {
  text-align: center;
  line-height: normal;
  font-family: "Playfair Display", serif;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl1 {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  padding: 10px 0;
  z-index: 9999;
}
.collumn .headline.hl2,
.collumn .headline.hl3 {
  font-weight: 400;
  box-sizing: border-box;
  padding: 10px 0;
  z-index: 9999;
  font-style: italic;
}
.collumn .headline.hl2 {
  font-size: 24px;
}
.collumn .headline.hl2:before,
.collumn .headline.hl4:before,
.collumn .headline.hl6:before {
  border-top: 1px solid #000;
  content: "";
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
  z-index: 9999;
}
.collumn .headline.hl2:after {
  border-bottom: 1px solid #000;
  content: "";
  width: 100px;
  height: 13px;
  display: block;
  margin: 0 auto;
  z-index: 9999;
}
.collumn .headline.hl3 {
  font-size: 36px;
}
.collumn .headline.hl10,
.collumn .headline.hl4,
.collumn .headline.hl8,
.collumn .headline.hl9 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0;
  z-index: 9999;
}
.collumn .headline.hl4:after,
.collumn .headline.hl6:after {
  border-bottom: 1px solid #000;
  content: "";
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;
  z-index: 9999;
}
.collumn .citation:after,
.collumn .citation:before,
.dark-mode .collumn .citation:after,
.dark-mode .collumn .citation:before {
  content: "";
  width: 100px;
  height: 16px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl5 {
  font-weight: 400;
  font-size: 42px;
  text-transform: uppercase;
  font-style: italic;
  box-sizing: border-box;
  padding: 10px 0;
  z-index: 9999;
}
.collumn .headline.hl6 {
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px 0;
  z-index: 9999;
}
.collumn .headline.hl7 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  display: block;
  padding: 10px 0;
  z-index: 9999;
}
.collumn .citation {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
  display: block;
  margin: 40px 0;
  z-index: 9999;
}
.dark-mode .collumn,
.dark-mode .content,
.dark-mode .weatherforcastbox,
.dark-mode header {
  display: inline-block;
  z-index: 9999;
}
.collumn .citation:before {
  border-top: 1px solid #000;
  z-index: 9999;
}
.collumn .citation:after {
  border-bottom: 1px solid #000;
  z-index: 9999;
}
.collumn .figure {
  margin: 0 0 20px;
  z-index: 9999;
}
.collumn .figcaption {
  font-style: italic;
  font-size: 12px;
  z-index: 9999;
}
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #fff;
}
html::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}
.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
.dark-mode a {
  color: #fff;
}
.dark-mode {
  background-color: #000;
  color: #fff;
  z-index: 9999;
}
.dark-mode header {
  color: #fff;
}
.dark-mode p {
  margin-bottom: 20px;
  z-index: 9999;
  color: #fff;
}
.dark-mode .head {
  text-align: center;
  position: relative;
  z-index: 9999;
  color: #fff;
}
.dark-mode .subhead {
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  padding: 12px 0;
  z-index: 9999;
  color: #fff;
}
.dark-mode .weatherforcastbox {
  position: relative;
  width: 25%;
  left: 10px;
  border: 3px double #fff;
  padding: 10px 15px;
  line-height: 20px;
  margin: -18px 50px 20px -475px;
}
.dark-mode .content {
  font-size: 0;
  line-height: 0;
  word-spacing: -0.31em;
  margin: 30px 0.5% 0 2%;
  color: #fff;
}
.dark-mode .collumns {
  z-index: 9999;
  color: #fff;
}
.dark-mode .collumn {
  font-size: 14px;
  line-height: 20px;
  width: 17.5%;
  padding: 0 1%;
  margin-bottom: 50px;
  color: #fff;
}
.dark-mode .collumn + .collumn {
  border-left: 1px solid #fff;
  z-index: 9999;
}
.dark-mode .collumn .headline {
  text-align: center;
  line-height: normal;
  font-family: "Playfair Display", serif;
  display: block;
  margin: 0 auto;
  z-index: 9999;
  color: #fff;
}
.dark-mode .collumn .headline.hl1 {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  padding: 10px 0;
  z-index: 9999;
  color: #fff;
}
.dark-mode .collumn .headline.hl2,
.dark-mode .collumn .headline.hl3 {
  font-weight: 400;
  box-sizing: border-box;
  padding: 10px 0;
  font-style: italic;
  color: #fff;
  z-index: 9999;
}
.dark-mode .collumn .headline.hl2 {
  font-size: 24px;
}
.dark-mode .collumn .headline.hl2:before,
.dark-mode .collumn .headline.hl4:before,
.dark-mode .collumn .headline.hl6:before {
  border-top: 1px solid #fff;
  content: "";
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
  z-index: 9999;
  color: #fff;
}
.dark-mode .collumn .headline.hl2:after {
  border-bottom: 1px solid #fff;
  content: "";
  width: 100px;
  height: 13px;
  display: block;
  margin: 0 auto;
  z-index: 9999;
  color: #fff;
}
.dark-mode .collumn .headline.hl3 {
  font-size: 36px;
}
.dark-mode .collumn .headline.hl10,
.dark-mode .collumn .headline.hl4,
.dark-mode .collumn .headline.hl8,
.dark-mode .collumn .headline.hl9 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0;
  z-index: 9999;
  color: #fff;
}
.dark-mode .collumn .headline.hl4:after,
.dark-mode .collumn .headline.hl6:after {
  border-bottom: 1px solid #fff;
  content: "";
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;
  z-index: 9999;
  color: #fff;
}
.dark-mode .collumn .headline.hl5 {
  font-weight: 400;
  font-size: 42px;
  text-transform: uppercase;
  font-style: italic;
  box-sizing: border-box;
  padding: 10px 0;
  z-index: 9999;
  color: #fff;
}
.dark-mode .collumn .headline.hl6 {
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px 0;
  z-index: 9999;
  color: #fff;
}
.dark-mode .collumn .headline.hl7 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  display: block;
  padding: 10px 0;
  z-index: 9999;
  color: #fff;
}
.dark-mode .collumn .citation {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
  display: block;
  margin: 40px 0;
  z-index: 9999;
  color: #fff;
}
.dark-mode .collumn .citation:before {
  border-top: 1px solid #fff;
  z-index: 9999;
  color: #fff;
}
.dark-mode .collumn .citation:after {
  border-bottom: 1px solid #fff;
  z-index: 9999;
  color: #fff;
}
.dark-mode .collumn .figure {
  margin: 0 0 20px;
  z-index: 9999;
  color: #fff;
}
.dark-mode .collumn .figcaption {
  font-style: italic;
  font-size: 12px;
  z-index: 9999;
  color: #fff;
}
.media {
  -webkit-filter: sepia(0%) contrast(1) opacity(1);
  filter: sepia(0%) grayscale(0) contrast(1) opacity(1);
  width: 100%;
  z-index: 9999;
}
.dark-mode::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.dark-mode::-webkit-scrollbar-track {
  background-color: #000;
}
.dark-mode::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}
.dark-mode::-webkit-scrollbar-corner {
  background-color: #000;
}
@media only all and (max-width: 1300px) {
  .dark-mode .weatherforcastbox,
  .weatherforcastbox {
    display: none;
    z-index: 9999;
  }
}
@media only all and (max-width: 1200px) {
  .collumn,
  .dark-mode .collumn {
    width: 31%;
    z-index: 9999;
  }
}
@media only all and (max-width: 900px) {
  .collumn,
  .dark-mode .collumn {
    width: 47%;
    z-index: 9999;
  }
}
@media only all and (max-width: 600px) {
  .collumn,
  .dark-mode .collumn {
    width: 100%;
    z-index: 9999;
  }
  .collumn + .collumn {
    border-left: none;
    border-bottom: 1px solid #000;
    z-index: 9999;
  }
  header {
    max-width: 320px;
    font-size: 60px;
    line-height: 54px;
    overflow: hidden;
    z-index: 9999;
  }
  .dark-mode .collumn + .collumn {
    border-left: none;
    border-bottom: 1px solid #000;
    z-index: 9999;
    color: #fff;
  }
  .dark-mode header {
    max-width: 320px;
    font-size: 60px;
    line-height: 54px;
    overflow: hidden;
    z-index: 9999;
    color: #fff;
  }
}
